{% load i18n %}
{% load tagging_tags %}
<a href="#feedback" class="fancybox_action timetable"></a>
<div style="display:none" class="fancybox_inline">
	<div style="width:700px" id="feedback">
		<h2>Мы позвоним вам,</h2>
		<div class="feedbackTxt">
			
			<ul>
				<li><span>чтобы ответить на ваши вопросы,</span></li>
				<li><span>рассказать больше об интересных программах для вас и вашего ребенка,</span></li>
				<li><span>назначить удобное для вас время для личного знакомства с KidnessClub,</span></li>
				<li><span>записать на индивидуальную консультацию к нашим специалистам.</span></li>
			</ul>
		
		</div>
		<div >	 	
		<form id="feedback_form" style="padding-left: 4em;" class="contact-form" action="" method="post">
		<div id="feedback_form_data">
		{% include "lfc/lfc_form.html" %}
		</div>
		<dl>
			<dt></dt>
			<dd>
		       <input class="send_feedback" type="button"
		              value="{% trans 'Send' %}" />
		       </dd>
		</dl>
		</form>
		</div>	
				
	</div>
	
</div>	