{% load i18n %}
{% load tagging_tags %}
	<script type="text/javascript">
	jQuery(document).ready(function() {
		var selectedPart = window.location;
		$(".send_feedback").bind('click', function(){
				$.fancybox.showActivity();
				$form =  $(this).closest("form");
				if(selectedPart!=window.location){
					selectedPart=window.location+' '+selectedPart; 
				}
				
				$form.find("input[name|='program']").val(selectedPart);
		    	$.ajax({
		    		 type        : "POST",
		             cache   : false,
		             data 	 : $form.serialize(),
		             url     : "/kidness_feedback",
		             success : function(){
		            	//window.location='/contact-thank-you';
		            	// $("#feedback").html("<h2>Спасибо, ваша заявка принята!</h2>");
		            	$.fancybox(
							'<h2 align="center">Спасибо, ваша заявка принята!</h2>',
							{
					        	'autoDimensions'	: false,
								'width'         		: 350,
								'height'        		: 'auto',
								'transitionIn'		: 'none',
								'transitionOut'		: 'none'
							});
		             },
		             error: function(xhr, ajaxOptions, thrownError) {
		            	$form.find("div").html(xhr.responseText);
	            	    $.fancybox.hideActivity();
	                    $.fancybox.resize();
		                    // return false;
		             }	    
		    	 });
				return false;
			});
		});
	</script>
<a href="#feedback" class="fancybox_action timetable"></a>
<div style="display:none" class="fancybox_inline">
	<div style="width:660px" id="feedback">
		<h2 id="form_header">Мы позвоним вам,</h2>
		<div class="feedbackTxt">
			
			<ul>
				<li><span>чтобы ответить на ваши вопросы,</span></li>
				<li><span>рассказать больше об интересных программах для вас и вашего ребенка,</span></li>
				<li><span>назначить удобное для вас время для личного знакомства с KidnessClub,</span></li>
				<li><span>записать на индивидуальную консультацию к нашим специалистам.</span></li>
			</ul>
		
		</div>
		<div id="form_panel" >	 	
		<form id="feedback_form" style="padding-left: 2em;" class="contact-form" action="" method="post">
		<div id="feedback_form_data">
		{% include "lfc/lfc_form.html" %}
		</div>
		<!-- input id="program_field" type="hidden" name="program" value=""/-->
		<dl>
			<dt></dt>
			<dd>
		       <input class="send_feedback" type="button"
		              value="{% trans 'Send' %}" />
		       </dd>
		</dl>
		</form>
		</div>	
				
	</div>
	
</div>	