{% load i18n %}
{% load scrollable_parts_tags %}
<div id="jc_{{child.slug}}" class="itemScroll" name="{{child.slug}}">
	
	<div style="float:left;display:block;width:70%;min-height: 258px;">
	<!-- title -->
    {% if child.display_title %}
         	<h2>{{ child.title }}</h2>
	{% endif %}
   
         <!-- content -->
      
   
   	 <!-- image -->
    {% if child.get_image %}
       <img src="{{ child.get_image.image.url_200x200 }}"
            alt="{{ child.get_image.image.title }}"
            title="{{ child.get_image.image.title }}" />
	{% endif %}
	
			
		{% if child.short_text %}		
	      {{ child.short_text|safe|truncatewords_html:45 }}
	    {% else %}
	    	{{ child.text|safe|truncatewords_html:45 }}	
	    {% endif %}
	    <a id="{{child.slug}}__action" class="text_toggle_action" href="#{{child.slug}}__text">...</a>  
      
      <!-- iframe src="http://www.facebook.com/plugins/like.php?href=http://cms.kidness.ru{{child.get_absolute_url}}&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:21px;" allowTransparency="true"></iframe-->
      <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
	  <div class="yashare-auto-init" data-yashareLink="http://cms.kidness.ru{{child.get_absolute_url}}" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,moikrug"></div> 

      <div style="display:none" class="child_text">
	      <div class="scrollableDescr" id="{{child.slug}}__text">
	      	<div style="display:block;float:left;width:500px; margin-right:40px;">
	      	 {% if child.display_title %}
         	<h2>{{ child.title }}</h2>
			{% endif %}
		   
		         <!-- content -->
		      
		   
		   	 <!-- image -->
		    {% if child.get_image %}
		       <img src="{{ child.get_image.image.url_200x200 }}"
		            alt="{{ child.get_image.image.title }}"
		            title="{{ child.get_image.image.title }}" />
			{% endif %}		
			
		      {# child.description|safe #}
	      	{{child.text|safe}}
	      	
	      	</div>
	      	
	      	
	      		{% kidness_contactform %}	
	      	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
	  		<div class="yashare-auto-init" data-yashareLink="http://cms.kidness.ru{{child.get_absolute_url}}" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,moikrug"></div>
            
            <!--  /div-->
	      	
	      </div>
      </div>
   </div>
	
   <div style="float:left;display:block;">
	{% comment %}
   		{% for tag in child.get_tag_list %}
   			{{tag.name}}|
   		{% endfor %}
	{% endcomment %}
   		<table class="brackets">
	   		<tr><td>
	   			{% for tag in child.get_tags_as_list %}
		   			{{tag.name}}<br />
		   		{% endfor %}	
	   		</td></tr>	
   		</table>
   </div>
   
</div>

