{% load i18n %}
{% load tagging_tags %}

{% if entries %}
    <div class="portlet blog-portlet scrollablenavHeader">
        <div class="scrollable-entries jcarousel-control">
            <div class="portlet-header">
                {{ title }}
                <a href="#feedback" class="fancybox_action timetable"></a>
                <div style="display:none" class="fancybox_inline">
	      			<div style="width:340px;" id="feedback">
	      				 <h2>Узнать о наличии мест</h2>
	      				 	
						    <form style="padding-left: 4em;" class="contact-form"
						          action="/contact"
						          method="post">
						
						        {% include "lfc/lfc_form.html" %}
						
						        <input style="float:right" type="submit"
						               value="{% trans 'Send' %}" />
						    </form>	
						    
	      			</div>
	      		</div>	
                <span class="tlSH"></span>
                <span class="trSH"></span>
                <span class="blSH"></span>
                <span class="brSH"></span>
            </div>
            <ul class="portlet-body navi ">
                {% for scrollable in entries %}
                    <li class="portlet-item">
                        <a class="scrollable_action" href="#{{scrollable.slug}}">
                            {{ scrollable.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
