 {% load i18n %}
	      			<script type="text/javascript">
var selectedPart = window.location;
	</script>	 	
  <form class="contact-form"
        action="/contact"
        method="post">
	  <div> 	
      {% include "lfc/lfc_form.html" %}
	 </div>	
	 <!--  input id="program_field" type="hidden" name="program" value=""/-->
	 <input style="display:none" class="send_feedback" type="button"
             value="Записаться на занятия" />
      <a   class="send_feedback" href="#" ><img src="{{ MEDIA_URL }}kidness_theme/img/forma.gif"/></a>
             	<span class="tlSH"></span>
                <span class="trSH"></span>
                <span class="blSH"></span>
                <span class="brSH"></span>
  </form>	
  