{% load i18n %}
{% load tagging_tags %}

{% if entries %}
    <div class="portlet blog-portlet scrollablenavHeader">
        <div class="scrollable-entries jcarousel-control">
            <div class="portlet-header">
                {{ title }}
               
                <span class="tlSH"></span>
                <span class="trSH"></span>
                <span class="blSH"></span>
                <span class="brSH"></span>
            </div>
            <ul class="portlet-body navi ">
                {% for scrollable in entries %}
                    <li class="portlet-item">
                        <a id="navit_{{scrollable.slug}}" class="scrollable_action" href="#jc_{{scrollable.slug}}">
                            {{ scrollable.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
