 {% load i18n %}
	      				 	
  <form class="contact-form"
        action="/contact"
        method="post">
	  <div> 	
      {% include "lfc/lfc_form.html" %}
	 </div>	
      <input class="send_feedback" type="button"
             value="Узнать о наличии мест" />
             
             	<span class="tlSH"></span>
                <span class="trSH"></span>
                <span class="blSH"></span>
                <span class="brSH"></span>
  </form>	
  <p >
Мы позвоним вам, чтобы:
<ul >
	<li>ответить на ваши вопросы</li>
	<li>рассказать больше об интересных программах для вас и вашего ребенка</li>
	<li>назначить удобное для вас время для личного знакомства с KidnessClub</li>
	<li>записать на индивидуальную консультацию к нашим специалистам</li>
</ul>
</p>