{% load i18n %}
{% load scrollable_parts_tags %}

<div id="jc_{{child.slug}}" class="itemScroll" name="{{child.slug}}">
	
	<div style="float:left;display:block;width:478px;min-height: 258px;">
	<!-- title -->
    
         	<h2 {% if not child.display_title %} style="display:none;"{% endif %}>{{ child.title }}</h2>
	
   
         <!-- content -->
   		
		<a style="text-decoration: none" id="{{child.slug}}__action" class="text_toggle_action" href="#{{child.slug}}__text">
				
		
			{% if child.short_text %}		
		      {{ child.short_text|safe|truncatewords_html:60 }}
		    {% else %}
		    	{{ child.text|safe|truncatewords_html:60 }}	
		    {% endif %}
		
		    
	    </a>  
	    
	    
      
      <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
	  <div class="yashare-auto-init" data-yashareLink="http://www.kidness.ru{{child.get_program_group_url}}" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,lj"></div> 

      <div style="display:none" class="child_text">
      		{% if  child.text %}
	      <div class="scrollableDescr" id="{{child.slug}}__text">
	      
	      	<div style="display:block;float:left;width:500px; margin-right:40px;">
	      	 <h2 {% if not child.display_title %} style="display:none;"{% endif %}>{{ child.title }}</h2>
		   
		         <!-- content -->
			
	      	{{child.text|safe}}
	      	
	      	</div>
	      	{% else %}
	      		<div style="width:260px;" class="scrollableDescr" id="{{child.slug}}__text">
	      		 {% if child.display_title %}
	         	<h2 style="margin-bottom:0px;padding-bottom: 0px">{{ child.title }}</h2>
				{% endif %}
	      	{% endif %}
	      	
	      		{% kidness_contactform %}
	      	{% if  child.text %}		
	      	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
	  		<div class="yashare-auto-init" data-yashareLink="http://www.kidness.ru{{child.get_program_group_url}}" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,lj"></div>
            {% endif %}
            <!--  /div-->
	      	
	      </div>
      </div>

   </div>


   <div style="float:left;display:block;width:213px">

	<a style="text-decoration: none;width:213px" id="{{child.slug}}__action" class="text_toggle_action" href="#{{child.slug}}__text">
	
   		<table class="brackets">
	   		<tr><td style="width:213px">
	   			{% for tag in child.get_tags_as_list %}
		   			{{tag.name}}<br />
		   		{% endfor %}	
	   		</td></tr>	
   		</table>

   		</a>

   </div>
  
</div>

