
<div id="{{child.slug}}" class="itemScroll" name="{{child.slug}}">
	<!-- title -->
    {% if child.display_title %}
         	<h2>{{ child.title }}</h2>
	{% endif %}
   
         <!-- content -->
      
   <div style="float:left;display:block;width:70%;">
   	 <!-- image -->
    {% if child.get_image %}
       <img
            src="{{ child.get_image.image.url_200x200 }}"
            alt="{{ child.get_image.image.title }}"
            title="{{ child.get_image.image.title }}" />
	{% endif %}		
      {{ child.text|safe }}
   </div>
	
   <div style="float:left;display:block;width:30%;">
   		<ul>
   			<li>Тэг 1</li>
			<li>Тэг 2 средний</li>
			<li>Тэг 3 бла длинный</li>
			<li>Тэг 3 бла очень очень длинный тэг</li>
   		</ul>
   </div>
</div>
