{% extends "lfc/base.html" %}
{% load portlets_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}kidness_theme/css/jcarousel_kidness/skin.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}kidness_theme/css/jcarousel_kidness/gallery_scroller.css">

{% endblock %}



{% block javascript %}
	<script type="text/javascript">
		// execute your scripts when DOM is ready. this is a good habit
		
		// JCarousel
		/**
		 * We use the initCallback callback
		 * to assign functionality to the controls
		 */
		
		// Ride the carousel...
		var SHOW_DELAY=2;
		
		jQuery(document).ready(function() {
			function setImagePreview(alink){
				var link = alink.attr("href");
				
				var img = '<a id="preview-image" index="'+alink.attr("index")+'" href="'+link+'"><span class="roundedimage roundedimage_LB roundedimage_500">'
	                img+='<img class="roundedimage_avatar photo-image" src="'+link+'" width="641px" height="400px"/>'
		            img+='<span class="roundedimage_corners"><img class="roundedimage_cornersitem" alt="" src="/media/kidness_theme/img/gallery_imgborder2.png"/></span></span></a>'
			    	
			    	$("#preview").html(img);
		            $("#preview-image").fancybox(
		            		{
				    			onComplete: function(){
				    				jQuery('#mycarousel').jcarousel('stopAuto');
				    			},
				    			onClosed: function(){
				    				jQuery('#mycarousel').jcarousel('startAuto');
				    			}
				    		}
		            );
		            $(".yashare-auto-init").attr("data-yashareLink","http://www.kidness.ru"+link);
		            
		            
			}
			
			function mycarousel_initCallback(carousel) {
			    jQuery('.jcarousel-control a').bind('click', function() {
			    	
			    	carousel.scroll(jQuery.jcarousel.intval($(this).attr('href').split('-')[1]));
			        return false;
			    });
			
			    jQuery('.jcarousel-scroll select').bind('change', function() {
			        carousel.options.scroll = jQuery.jcarousel.intval(this.options[this.selectedIndex].value);
			        return false;
			    });
			
			    jQuery('#next').bind('click', function() {
			        carousel.next();
			        return false;
			    });
			
			    jQuery('#prev').bind('click', function() {
			        carousel.prev();
			        return false;
			    });
			    
			    carousel.clip.hover(function() {
		            carousel.stopAuto();
		        }, function() {
		            carousel.startAuto();
		        });
			};
		    jQuery("#mycarousel").jcarousel({
		        scroll: 1,
		        auto: SHOW_DELAY,
		        wrap: "circular",
		        initCallback: mycarousel_initCallback,
		        itemFirstInCallback : function(object,li,idx,state){
		        	setImagePreview($(li).children("a"));
		        	var $thumb=$(li).children("a");
		        	$(".slideshow").removeClass("selected");
		        	$thumb.addClass("selected");
	        	}
		    });
		    
		    
		    $('.slideshow').hover(
		            function () {
		            	setImagePreview($(this));
				    	$(".slideshow").removeClass("selected");
				    	$(this).addClass("selected");
		            },
		            function () {
		            	$(".slideshow").removeClass("selected");     
		                //on mouse out, reset all the item back to 50% opacity
		            }
		        );
		    /*
		    $(".slideshow").bind("mouseover", function(){
		    	setImagePreview($(this));
		    	$(".slideshow").removeClass("selected");
		    	$(this).addClass("selected");
		    	// var carousel = jQuery('#mycarousel').data('jcarousel');
		    	return false;
		    });
		    */
		    $(".slideshow").fancybox(
		    		{
		    			onComplete: function(){
		    				jQuery('#mycarousel').jcarousel('stopAuto');
		    			},
		    			onClosed: function(){
		    				jQuery('#mycarousel').jcarousel('startAuto');
		    			}
		    		});
		    var href_ = document.location.href;
		    var start = href_.indexOf("?id=");
		    if(start>0){
		    	var image_id = href_.substring(start+4, href_.length);
		    	console.log(image_id);
		    	console.log($(".slideshow[title='" + image_id + "']"));
		   		$(".slideshow[title='" + image_id + "']").click();
		   		//$("#preview-image").click();
		   }
		   
		});
		
		
	</script>
	
{% endblock %}

{% block content %}
    {% if lfc_context.display_title %}
        <h1 class="first-heading">{{ lfc_context.title }}</h1>
    {% endif %}
    <div>{{ lfc_context.text|safe }}</div>
    <div style="margin-top:40px; width:641px;height:400px;" id="preview">
    </div>
	<div id="mycarousel" class="jcarousel-skin-tango">
	    <ul>
	    	{% for photo in images %}
                {# for photo in row #}
                	<li>
                		<a rel="show" index="{{forloop.counter}}" class="slideshow" href="{{ photo.image.url_800x800 }}"
                               title="{{ photo.title }}">
                                <img src="{{ photo.image.url_100x100 }}"
                                     alt="{{ photo.name }}"
                                     width="95"
                                     height="68"
                                     title="{{ photo.title }}" />
                            </a>
                	</li>
                {# endfor #}
            {% endfor %}    
	    </ul>
    </div>
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
	<div style="margin-top:20px;" align="center" class="yashare-auto-init" data-yashareLink="http://www.kidness.ru" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,lj"></div>
	<script type="text/javascript">
	jQuery(document).ready(function() {
		  // $(".b-share__link").live("click", function(){
		  // 		$("#preview-image").click();
		  // 		return true;
		  // });
		});
	</script>
{% endblock %}