@import "tiny.css";

/*global reset---------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;} body {line-height: 1;} ol, ul {list-style: none;} blockquote, q {	quotes: none;} blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of global reset-----------------------------------------------------------------------*/
/*layout---------------------------------------------------------------------------------------*/
html, body {
height: 100%;
}
html {
	background: #f1f1f1 url("/media/kidness_theme/img/bghands.gif") no-repeat center top;
	text-align:center;
}
body {
	text-align:left;
	font: normal normal 68.75%/136% verdana,sans-serif;
	color: #424242;
	width:979px;
	margin:0 auto;
}
a {color:#2b8841;}
.clear {
	width:100%;
	height:1px;
	display:block;
	overflow:hidden;
	clear:both;
}
.hide{ display: block; text-indent: -9999px;}

a:visited,
a {
    color: #2d87bf;
}

a:hover {
    color: black;
}

pre,
code {
    font-family: Verdana, sans-serif;
    background-color: #e5ab52;
    border: 1px solid #24241c;
    margin: 20px 0;
    padding: 20px;
    display: block;
    color: black
}

code a,
code a:visited {
    color: black !important;
}

h1 {
    font-weight: normal;
    font-size: 153.9%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h1.logo {
    font-size: 250%;
    text-transform: none;
}

h1.logo a {
    text-decoration: none;
}
h1.logo img {
    margin-left:100px;
}
.headerContact {
	color:#7c7c7c;
}
.headerContact {
	font-size:1.2em;
	line-height: 1.6em;
}
.headerContact .tel {
	font-size:1.42em;
}
h2 {
    font-size: 123.1%;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 5px;
}

h1 a,
h2 a {
    text-decoration: none;
}

h1.blog-entry {
    font-size: 153.9%;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0;
    border-bottom: 1px solid #24241c;
}

h2.blog-entry {
    font-weight: bold;
    padding-bottom: 0px;
    border-bottom: 1px solid #24241c;
}

.blog-by-line {
    font-size: 85%;
    margin: 2px 0 10px 0;
}

.left-slot {
    padding-right: 30px;
}

#management {
    background-color: #ddd;
    margin: 0;
}

#management .container {
    line-height: 30px;
}

#header {
    color: black;
    padding: 40px 0;
}

#header a {
    color: black;
}

#login {
    text-align: right;
}

/* tabs */
#tabs {
    background: transparent url("/media/kidness_theme/img/page_top.png") no-repeat 0 0;
    height:51px;
    display:block;
    overflow:hidden;
}

#tabs ul {
	margin-left:14px;
}
#tabs li {
    list-style: none;
    float: left;
}

#tabs li a {
    display: block;
    padding: 23px 36px 0 38px;
    text-decoration: none;
    text-transform: uppercase;
    height:28px;
    color:#5b5b5b;
    position:relative;

}

#tabs li a.selected {
    background-color: #afafaf;
     color: white;
}
#tabs li a.selected .tabtl {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat 0 0;
	width:8px;
	height:8px;
	display:block;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
#tabs li a.selected .tabtr {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat -8px top;
	width:8px;
	height:8px;
	display:block;
	overflow:hidden;
	position:absolute;
	top:0;
	right:0;
}

.flags {
    text-align: right;
}

#content {
    background: transparent url("/media/kidness_theme/img/page_bg.png") repeat-y 0 0;
    padding: 0px 16px;
}

#content,
#content a,
#content a:visited {
    color: #555;
}

#content a,
#content a:visited {

}

#content a:hover {
    color: #24241c;
}

#content h1,
#content h1 a,
#content h2,
#content h2 a {
    color: #24241C;
}
#content .middle-slot h1, #content .middle-slot h2 {
	color:#21a84a;

}
#content ol li {
    list-style: decimal outside;
    margin-left: 1.3em;
}

#content ul li {
    list-style: square outside;
    margin-left: 1.3em;
}


.news-date {
    text-align:right;
    padding-top: 6px;
    font-size: 85%;
}

/* breadcrumbs */
ul.breadcrumbs {
    list-style-type: none;
    padding: 0 0 20px 0;
    margin: 0;
}

ul.breadcrumbs li {
    display: inline;
    margin-left:0 !important;
}

.breadcrumbs {
    color: #333;
    font-size: 11px;
}

#content .breadcrumbs a,
#content .breadcrumbs a:visited {
    color: #999;
    text-decoration: none;
}

#content .breadcrumbs a:hover {
    color: #333;
}

/* Forms */
.field {
    margin: 10px 0;
}

.field .label {
    padding-bottom: 3px;
}

#content .contact-form input[type="text"] {
    width: 300px;
}

#content input[type="password"] {
    width: 300px;
}

#content textarea {
    width: 100%;
}

/* Error  */
#content ul.errorlist {
    padding: 0 !important;
    margin: 0 !important;
}

#content ul.errorlist li {
    list-style-type: none;
    margin: 0;
    color: red;
    padding-bottom: 10px;
}

#content .field ul.errorlist li {
    padding-bottom: 5px;
}

#content .field .error input {
    border: 1px solid red;
}

/* Login Form */
.login #content h1 {
    padding-top: 20px;
}

/* Comments */
#comments {
    background-color: #e1e2d4;
    padding: 20px 0;
}

.comment-form .field {
    margin: 10px 0;
}

.comment-form input[type="text"] {
    width: 300px;
}

.comment-form textarea {
    width: 100%;
}

#footer {
    background: transparent url("/media/kidness_theme/img/page_top.png") no-repeat left -51px; 
    height:72px;
    display:block;
}

#footer a {
    color: #555;
}

#colophon {
    text-align: center;
    padding: 20px 0;
    color: #aaa;
}

#colophon a {
    color: #aaa;
}

.previous-next-links {
    clear: both;
    margin: 10px 0;
}

/* Portlets */
.portlet a {
    text-decoration: none;
    color: #555;
}

.portlet-header .first {
    margin: 0px 0 2px 0;
}

.portlet-header {
    color: #24241c;
    font-size: 138.5%;
    font-weight: normal;
    margin: 0 0 2px 0;
    padding: 0 5px;
    text-transform: uppercase;
}

.portlet-body {
    padding-left: 5px;
}

.portlet .blog-tag-cloud,
.portlet .blog-archive {
    margin-top: 15px;
}

/* Navigation */
.navigation-portlet li {
    list-style-type: none !important;
    margin: 0  !important;
}

.navigation-portlet ul {
    margin:0;
    padding:0;
}

.navigation-portlet a {
    color: black;
    text-decoration: none;
    border: none;
    display:block;
    padding: 5px 0;
}

.navigation-portlet a.current {
    font-weight: bold;
    color: black !important;
}


.navigation-portlet .level-2,
.navigation-portlet .level-3,
.navigation-portlet .level-4 {
    padding-left: 10px;
}


/* Search */
.search-form {
    text-align: right;
    position: relative; top:9px;
}

.search-form form {
    display: inline;
}

div.search-results {
    margin-top: 20px;
}

.search-results-items {
    margin-top: 20px;
}

.search-results li {
    line-height: 1em;
}

.search-results-items h3 {
    font-size: 120%;
    padding-bottom: 10px;
}

.search-results li p {
    font-size: 100%;
}
.search-results-items h3 a {
    text-decoration: none;
}

.search-results-item {
    margin-bottom: 4px;
}

.comment-form input[type="text"] {
    width: 300px;
}

.comment-form textarea {
    width: 100%;
}

.fourohfour {
    font-size: 400%;
    font-weight: bold;
}

/* scrollable */
div.scrollable {
    position:relative;
    overflow:hidden;
    width: 400px;
    height:100px;
}

div.scrollable div.items {
    width:20000em;
    position:absolute;
    clear:both;
}

div.scrollable div.items div {
    width: 400px;
    height:100px;
}
.photosHat {
	width:100%;
	height:266px;
	display:block;
	clear:both;
	background:#afafaf;
	margin-bottom:40px;	
	position:relative;
}
.tl {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat 0 -8px;
	width:8px;
	height:8px;
	display:block;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
.tr {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat -8px -8px;
	width:8px;
	height:8px;
	display:block;
	overflow:hidden;
	position:absolute;
	top:0;
	right:0;
}
.bl {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat 0 -16px;
	width:8px;
	height:8px;
	display:block;
	overflow:hidden;
	position:absolute;
	bottom:0;
	left:0;
}
.br {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat -8px -16px;
	width:8px;
	height:8px;
	display:block;
	overflow:hidden;
	position:absolute;
	bottom:0;
	right:0;
}
#content .photosHat ul {
	padding:0;
	padding:11px 0 0 11px;
	width:658px;
	display:block;
	float:left;
}

#content .photosHat ul li {
	float:left;
	padding:0;
	margin:0;
	list-style-type: none;
	list-style: none;
}
#content .photosHat ul li a {
	width:160px;
	height: 119px;
	margin:2px;
	display:block;
}
#content .photosHat ul li a.left1PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/1.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left2PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/2.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left3PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/3.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left4PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/4.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left5PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/5.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left6PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/6.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left7PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/7.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left8PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/8.jpg") no-repeat 0 0;
}
.rightPhotoHat {
	width:266px;
	height:243px;
	display:block;
	float:left;
	background: transparent url("/media/kidness_theme/img/photohat/9.jpg") no-repeat 0 0;
	margin-top:12px;
}