@import "tiny.css";

/*global reset---------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;} body {line-height: 1;} ol, ul {list-style: none;} blockquote, q {	quotes: none;} blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of global reset-----------------------------------------------------------------------*/
/*layout---------------------------------------------------------------------------------------*/
html, body {
height: 100%;
}
html {
	background: #f1f1f1 url("/media/kidness_theme/img/bghands.jpeg") no-repeat center top;
	background-attachment:fixed;
	text-align:center;
	font: normal normal 68.75%/136% verdana,sans-serif; 
}
body {
	text-align:left;
	font-size:1.4em;
	color: #424242;
	width:979px;
	margin:0 auto;
}
.clear {
	width:100%;
	height:1px;
	display:block;
	overflow:hidden;
	clear:both;
}
.hide{ display: block; text-indent: -9999px;}

pre,
code {
    font-family: Verdana, sans-serif;
    background-color: #e5ab52;
    border: 1px solid #24241c;
    margin: 20px 0;
    padding: 20px;
    display: block;
    color: black
}

code a,
code a:visited {
    color: black !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-weight: normal;
    font-size: 153.9%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h1.logo {
    font-size: 250%;
    text-transform: none;
}

h1.logo a {
    text-decoration: none;
}
h1.logo img {
    margin-left:100px;
}
.headerContact {
	color:#7c7c7c;
}
.headerContact {
	font-size:1.1em;
	line-height: 1.6em;
}
.headerContact .tel {
	font-size:1.3em;
	font-weight:bold;
}
.headerContact .addr {
	font-size:0.9em;
}
h2 {
    /* font-size: 123.1%; */
    font-size: 100%;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 5px;
}

h1 a,
h2 a {
    text-decoration: none;
}

h1.blog-entry {
    font-size: 153.9%;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0;
    /* border-bottom: 1px solid #24241c; */
}

h2.blog-entry {
    font-weight: bold;
    padding-bottom: 0px;
    /* border-bottom: 1px solid #24241c; */
}

.blog-by-line {
    font-size: 85%;
    margin: 2px 0 10px 0;
}

.left-slot {
    padding-right: 30px;
}

#management {
    background-color: #ddd;
    margin: 0;
}

#management .container {
    line-height: 30px;
}

#header {
    color: black;
    padding: 20px 0;
}

#header a {
    color: black;
}

#login {
    text-align: right;
}

/* tabs */
#tabs {
    background: transparent url("/media/kidness_theme/img/page_top.png") no-repeat 0 0;
    height:51px;
    display:block;
    overflow:hidden;
}

#tabs ul {
	margin-left:14px;
}
#tabs li {
    list-style: none;
    float: left;
}

#tabs li a {
    display: block;
    padding:1.9em 2.3em 0;
    text-decoration: none;
    text-transform: uppercase;
    height:28px;
    color:#5b5b5b;
    position:relative;
    font-size: 0.8em;

}

#tabs li a.selected {
    background-color: #afafaf;
     color: white;
}
#tabs li a.selected .tabtl {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat 0 0;
	width:8px;
	height:8px;
	display:block;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
#tabs li a.selected .tabtr {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat -8px top;
	width:8px;
	height:8px;
	display:block;
	overflow:hidden;
	position:absolute;
	top:0;
	right:0;
}

.flags {
    text-align: right;
}

#content {
    background: transparent url("/media/kidness_theme/img/page_bg.png") repeat-y 0 0;
    padding: 0px 16px;
}

#content,
#content a,
#content a:visited {
    color: #555;
    text-decoration: none;
}

#content a,
#content a:visited {

}

#content a:hover {
    color: #24241c;
    text-decoration: underline;
}

#content ul.portlet-body li a:hover p {
    text-decoration: underline;
}

#content h1,
#content h1 a,
#content h2,
#content h2 a {
    color: #24241C;
}

#content .middle-slot{
	padding-right: 18px;
}
#content .middle-slot h1, #content .middle-slot h2, #content .middle-slot h2 a {
	color:#21a84a;
	font-weight: bold;

}
#content ol li {
    list-style: decimal outside;
    margin-left: 1.3em;
}

#content ul li {
    list-style: square outside;
    margin-left: 1.3em;
}


.news-date {
    text-align:right;
    float:right;
    padding-top: 0px;
    font-size: 85%;
    font-style:italic;
    
}

.news-date-for-news-portlet {
    text-align:right;
    float:right;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 85%;
    font-style:normal;
    text-transform: lowercase;
    color: #A2B5CD;
}

.news-title-for-news-portlet {
    font-style: italic;
    text-transform: none;
}
/* breadcrumbs */
ul.breadcrumbs {
    list-style-type: none;
    padding: 0 0 20px 0;
    margin: 0;
}

ul.breadcrumbs li {
    display: inline;
    margin-left:0 !important;
}

.breadcrumbs {
    color: #333;
    font-size: 11px;
}

#content .breadcrumbs a,
#content .breadcrumbs a:visited {
    color: #999;
    text-decoration: none;
}

#content .breadcrumbs a:hover {
    color: #333;
}

/* Forms */
.field {
    margin: 10px 0;
}

.field .label {
    padding-bottom: 3px;
    font-weight: normal;
}

.field dd {
    margin-left: 0em;
}

#content .contact-form input[type="text"] {
    width: 300px;
}

#content input[type="password"] {
    width: 300px;
}

#content textarea {
    width: 100%;
}

/* Error  */
#content ul.errorlist {
    padding: 0 !important;
    margin: 0 !important;
}

#content ul.errorlist li {
    list-style-type: none;
    margin: 0;
    color: red;
    padding-bottom: 10px;
}

#content .field ul.errorlist li {
    padding-bottom: 5px;
}

#content .field .error input {
    border: 1px solid red;
}

/* Login Form */
.login #content h1 {
    padding-top: 20px;
}

/* Comments */
#comments {
    background-color: #e1e2d4;
    padding: 20px 0;
}

.comment-form .field {
    margin: 10px 0;
}

.comment-form input[type="text"] {
    width: 300px;
}

.comment-form textarea {
    width: 100%;
}

#footer {
    background: transparent url("/media/kidness_theme/img/page_top.png") no-repeat left -51px; 
    height:72px;
    display:block;
}

#footer a {
    color: #555;
}

#colophon {
    text-align: center;
    padding: 20px 0;
    color: #aaa;
}

#colophon a {
    color: #aaa;
}

.previous-next-links {
    clear: both;
    margin: 10px 0;
}

/* Portlets */
.portlet a {
    text-decoration: none;
    color: #555;
}

.portlet-header .first {
    margin: 0px 0 2px 0;
}

.portlet-header {
    color: #24241c;
    font-size: 138.5%;
    font-weight: normal;
    margin: 0 0 2px 0;
    padding:0 5px 10px 9px;
    text-transform: uppercase;
}
.portlet {
	text-transform: none;
	position: relative;
	padding: 0 8px 0 8px;
	margin-bottom: 30px;
	text-align: left;
}
.scrollablenavHeader {
	background: #f7f7f7;
	text-transform: none;
	position: relative;
	padding:0 8px 8px 8px;
	margin: 30px 11px 30px 11px;
	text-align: left;
}
.scrollablenavHeader .portlet-header  {
	text-transform: none;
	padding-left:18px;
}
#content a.timetable {
	background: transparent url("/media/kidness_theme/img/button.gif") no-repeat center 0;	
	margin: 6px 0;
	display:block;
	width:100%;
	cursor: pointer;
	height:38px;
}
.tlSH {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat 0 -36px;
	width:6px;
	height:6px;
	display:block;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
.trSH {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat -6px -36px;
	width:6px;
	height:6px;
	display:block;
	overflow:hidden;
	position:absolute;
	top:0;
	right:0;
}
.blSH {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat 0 -42px;
	width:6px;
	height:6px;
	display:block;
	overflow:hidden;
	position:absolute;
	bottom:0;
	left:0;
}
.brSH {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat -6px -42px;
	width:6px;
	height:6px;
	display:block;
	overflow:hidden;
	position:absolute;
	bottom:0;
	right:0;
}
.portlet-body {
    padding-left: 9px;
    margin-top:0px;
    font-style: italic;
    font-size: smaller;
    line-height: 1.3em;
}
.portlet-body h1{
	line-height: 1.4em;
}

.scrollablenavHeader .portlet-body {
    text-align: left;
}
#content ul.portlet-body li {
    list-style-type: none;
    padding: 0 0 1px 0;
    margin: 0;
}
#content ul.portlet-body li a{
	color: #2b7db9;	
	text-transform: uppercase;
	font-style: normal;
}
#content ul.portlet-body li a.portlet-item-all{
	color: #9FB6CD;	
	text-transform: none;
	font-style: normal;
	text-decoration: underline;
}

#content ul.portlet-body li a:hover{
	text-decoration: underline;
}	

.portlet .blog-tag-cloud,
.portlet .blog-archive {
    margin-top: 15px;
}

/* Navigation */

.navigation-portlet li {
    list-style-type: none !important;
    margin: 0  !important;
    padding-bottom: 2px;
    padding-top:2px;
}

#content .navigation-portlet li a {
    color: #2B7DB9;
}

#content .navigation-portlet li a.current {
    font-weight: bold;
}
#content .navigation-portlet li a:hover {
    color: #2B7DB9;
    text-decoration: underline;
}

.navigation-portlet ul {
    margin:0;
    padding:0;
}


/*
.navigation-portlet a {
    color: black;
    text-decoration: none;
    border: none;
    display:block;
    padding: 5px 0;
}

.navigation-portlet a.current {
    font-weight: bold;
    color: black !important;
}


.navigation-portlet .level-2,
.navigation-portlet .level-3,
.navigation-portlet .level-4 {
    padding-left: 10px;
}
*/

/* Search */
.search-form {
    text-align: right;
    position: relative; top:9px;
}

.search-form form {
    display: inline;
}

div.search-results {
    margin-top: 20px;
}

.search-results-items {
    margin-top: 20px;
}

.search-results li {
    line-height: 1em;
}

.search-results-items h3 {
    font-size: 120%;
    padding-bottom: 10px;
}

.search-results li p {
    font-size: 100%;
}
.search-results-items h3 a {
    text-decoration: none;
}

.search-results-item {
    margin-bottom: 4px;
}

.comment-form input[type="text"] {
    width: 300px;
}

.comment-form textarea {
    width: 100%;
}

.fourohfour {
    font-size: 400%;
    font-weight: bold;
}

/* scrollable */
div.scrollable {
    position:relative;
    overflow:hidden;
    width: 400px;
    height:100px;
}

div.scrollable div.items {
    width:20000em;
    position:absolute;
    clear:both;
}

div.scrollable div.items div {
    width: 400px;
    height:100px;
}
.photosHat {
	width:100%;
	height:266px;
	display:block;
	clear:both;
	background:#afafaf;
	margin-bottom:20px;	
	position:relative;
}
.tl {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat 0 -8px;
	width:8px;
	height:8px;
	display:block;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
.tr {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat -8px -8px;
	width:8px;
	height:8px;
	display:block;
	overflow:hidden;
	position:absolute;
	top:0;
	right:0;
}
.bl {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat 0 -16px;
	width:8px;
	height:8px;
	display:block;
	overflow:hidden;
	position:absolute;
	bottom:0;
	left:0;
}
.br {
	background: transparent url("/media/kidness_theme/img/corners.gif") no-repeat -8px -16px;
	width:8px;
	height:8px;
	display:block;
	overflow:hidden;
	position:absolute;
	bottom:0;
	right:0;
}

#content .photosHat ul {
	padding:0;
	padding:10px 0 10px 10px;
	width:658px;
	display:block;
	float:left;
}

#content .photosHat ul li {
	float:left;
	padding:0;
	margin:0;
	list-style-type: none;
	list-style: none;
}
#content .photosHat ul li a {
	width:160px;
	height: 119px;
	margin:2px;
	display:block;
}

#content .photosHat ul li span {
	width:160px;
	height: 119px;
	margin:2px;
	display:block;
}

#content .photosHat ul li a.left1PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/1.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left2PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/2.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left3PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/3.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left4PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/4.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left5PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/5.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left6PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/6.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left7PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/7.jpg") no-repeat 0 0;
}
#content .photosHat ul li a.left8PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/8.jpg") no-repeat 0 0;
}
a.rightPhotoHat {
	width:266px;
	height:243px;
	display:block;
	float:left;
	background: transparent url("/media/kidness_theme/img/photohat/promo.jpg") no-repeat 0 0;
	margin-top:12px;
}

#content .photosHat ul li span.left1PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/1_hl.jpg") no-repeat 0 0;
}
#content .photosHat ul li span.left2PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/2_hl.jpg") no-repeat 0 0;
}
#content .photosHat ul li span.left3PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/3_hl.jpg") no-repeat 0 0;
}
#content .photosHat ul li span.left4PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/4_hl.jpg") no-repeat 0 0;
}
#content .photosHat ul li span.left5PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/5_hl.jpg") no-repeat 0 0;
}
#content .photosHat ul li span.left6PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/6_hl.jpg") no-repeat 0 0;
}
#content .photosHat ul li span.left7PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/7_hl.jpg") no-repeat 0 0;
}
#content .photosHat ul li span.left8PhotoHat {
	background: transparent url("/media/kidness_theme/img/photohat/8_hl.jpg") no-repeat 0 0;
}
span.rightPhotoHat {
	width:266px;
	height:243px;
	display:block;
	float:left;
	background: transparent url("/media/kidness_theme/img/photohat/promo_hl.jpg") no-repeat 0 0;
	margin-top:12px;
}
/*feedback form----------------------*/

.errorlist li {color:red;}
#feedback_form {float:left; margin-top:10px;}
#fancybox-content #feedback h2 {margin-left:20px;}
#feedback .feedbackTxt {width:340px; float:left; display:block; margin-right:40px;}
#feedback .feedbackTxt ul li{color:#21A84A; list-style-type: disc; margin: 10px 0px 10px 30px;}
#feedback .feedbackTxt ul li span{color:#24241C;}
/* scrollable programs description---------------------------*/
#fancybox-content h2 {color: #21A84A;}

.scrollableDescr {
	width:800px; overflow-x:hidden;
	padding:20px;	
}
.scrollableDescr h2 {
	padding-top:0px;
	margin-bottom:10px;	
}
.contact-form {
	background: #F7F7F7;
    padding: 20px;
    position: relative;
    width: 220px;
    float:left;
    display: block;
    margin-top:30px;

}
.contact-form input {
    width: 200px;
}
/*-------------------rounded avatar---------------*/
.roundedimage_50 {
height:202px;
width:293px;
}
.roundedimage_LB .roundedimage_cornersitem{top:0px;}
*html .roundedimage_LB .roundedimage_cornersitem{
 behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "images/skins/212u_green/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
);
}
.roundedimage {
background-color:#edf4f5;
display:block;
overflow:hidden;
position:relative;
}
.roundedimage_corners {
background:transparent none repeat scroll 0 0;
display:block;
height:100%;
left:0;
overflow:hidden;
position:absolute;
top:0;
width:100%;
}
.roundedimage_avatar{
    display:block;
    position:absolute;
    background:transparent !important;
    top:0px;
    left:0px;
    vertical-align:middle;
    overflow:hidden;
}
.roundedimage_50 .roundedimage_avatar{width:293px;height:auto;}
#content a.galleryCover p {text-decoration: none; text-align: center; color: #21A84A; width:100%; margin-bottom: 35px; margin-top:4px;}
#content a.galleryCover {text-decoration: none;}
/*-------------------rounded avatar2---------------*/
.roundedimage_500 {
height:400px;
width:641px;
}
.roundedimage_500 .roundedimage_avatar{width:641px;height:auto;}
/*-----------------end of rounded avatar--------------*/

.entry .quote {
	float: right;
	margin-top: 10px;
}

a.entry-description div{
	
}


a.entry-description:hover div{
	text-decoration:underline
}

/*-------------- Slideshow portlet --------------*/
#content .photosHat .portlet {
    margin: 0;
    position: relative;
    text-align: left;
    text-transform: none;
}
#content .photosHat .slideshowPromo {
	width:266px;
	height:242px;
	display:block;
	overflow:hidden;
	padding:0;
	padding: 12px 0px 12px 0px;
}

#content .photosHat .portlet .portlet-body {
    font-size: smaller;
    font-style: italic;
    line-height: 1.3em;
    margin: 0;
    
    padding: 0;
}

.scrollable-promo {
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 266px;
	height:242px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable-promo .promo-items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.promo-items div {
	float:left;
}

.newsdate {
	font-style: italic;
}
