/* root element for scrollable */
.scrollableContainer {

	/* required settings */
	position:relative;
	overflow:hidden;

	/* vertical scrollables have typically larger height than width but not now */
	height: 800px;
	width: auto;
}

/* root element for scrollable items */
.scrollableContainer .itemsScroll {
	position:absolute;

	/* this time we have very large space for the height */
	height:20000em;
}


.vertical {  
	/* required settings */
    overflow: hidden;
    position: relative;
 	/* vertical scrollers have typically larger height than width */   
	border-top: 1px solid #DDDDDD;
    height: 665px;
    width: 700px;
}

/* root element for scrollable items */
.itemsScroll {	
	position:absolute;
	
	/* this time we have very large space for height */	
	height:20000em;	
	margin: 0px;
	
	width:100%;
	
}

/* single scrollable item */
.itemScroll {
    border-bottom: 1px solid #DDDDDD;
    font-size: 12px;
    height: 180px;
    margin: 10px 0;
    padding: 15px;
    width:100%;
}

/* elements inside single item */
.itemScroll img {
	float:left;
	margin-right:20px;
	height:180px;
	width:240px;
}

.itemScroll h3 {
	margin:0 0 5px 0;
	font-size:16px;
	color:#456;
	font-weight:normal;
}

/* the action buttons above the scrollable */
#actions {
	width:700px;
	margin:30px 0 10px 0;	
}

#actions a {
	font-size:11px;		
	cursor:pointer;
	color:#666;
}

#actions a:hover {
	text-decoration:underline;
	color:#000;
}

.disabled {
	visibility:hidden;		
}

.next {
	float:right;
}
