#next, #prev {
    cursor: pointer;
    margin-bottom: -10px;
    text-decoration: underline;
    font-size: 11px;
}

.itemScroll ul {
	background: transparent url("/media/kidness_theme/img/brackets.gif") no-repeat left top;
	padding-left: 58px;
	min-height:258px;
}

.selectedItem {
	background-color: #ccc;
}

