#small_videos_block img{
	padding-right:5px;
	padding-top:5px;
}
#small_videos_block{
	
}
#video_block{
	width:692px;
	float:left;
}
.clear{
	clear:both;	
}
#video-name{
	color: green;
	text-transform:uppercase;	
}
.one_video_opened{
	position: fixed;
	height: auto; 
	top: 200px; 
	left: 494px; 
	display: block;	

}