{{ form.non_field_errors }}
	{{form.name.errors}}<br/>
	<div class="required">&#42;
	</div>
		<input name="name" type="text" required placeholder="Имя" value="{{form.data.name}}"><br/>
	<div class="clear"></div>
	{{ form.phone_number.errors}}<br/>
	<div class="required">&#42;
	</div>
		<input name="phone_number" type="text" required placeholder="Телефон" value="{{form.data.phone_number}}"><br/>
	<div class="clear"></div>
	<div class="unrequired">&nbsp;
	</div>
		<input type="text" name="email" placeholder="email" value="{{form.data.email}}"><br/>
	<div class="clear"></div>
	<div class="unrequired">&nbsp;
	</div>
		<input type="datetime" name="time" placeholder="Удобное время для звонка" value="{{form.data.time}}"><br/>
	<div class="clear"></div>
	<div class="unrequired">&nbsp;
	</div>
		<textarea name="body" placeholder="Комментарии">{{form.data.body}}</textarea><br/>
	<div class="clear"></div>
	<input name="program" type="hidden">
	<div class="clear"></div>

